.App {
  background-color: #0099cc;
  margin: 0 auto;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}

.screen {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.hours {
  width: 35px;
  background-color: white;
  text-align: end;
}

.minutes {
  width: 35px;
  background-color: white;
  text-align: end;
}

.seconds {
  width: 35px;
  background-color: white;
  text-align: center;
}

.buttons {
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
}

.button {
  outline: none;
  background: gray;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 7px;
  
}
